body{ background: var(--dark); }

.header-menu{ position: relative; padding: 26px 0; background: var(--dark); }

.header-menu .menu-logo
{
	font-family: var(--font-text);
	color: var(--purple);
	font-size: 1.7rem;
	font-weight: 500;
}
.header-menu .menu-navbar{ gap: 60px; }
.menu-navbar .navbar a
{
	position: relative;
	font-family: var(--font-text);
	color: var(--white-200);
	font-weight: 500;
	margin-left: 30px;
}
.menu-navbar .navbar a.active,
.menu-navbar .navbar a:hover
{ color: var(--white); }
.menu-navbar .navbar a:before
{
	content: '';
	position: absolute;
	width: 0; height: 3px;
	bottom: -3px; right: 0;
	background: var(--purple);
	transition: .3s ease-in-out;
}
.menu-navbar .navbar a:hover:before,
.menu-navbar .navbar a.active:before
{ width: 100%; left: 0; }

.menu-navbar .btn-minha_conta
{
	font-family: var(--font-title);
	color: var(--white);
	font-weight: 400;
	border: 1px solid var(--purple);
	padding: 5px 20px;
	border-radius: 30px;
}
.menu-navbar .menu-btn
{
	color: var(--white);
	font-size: 2rem;
	display: none;
	cursor: pointer;
}